{% extends 'store/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="card container">
    {% if basket %}
        <label>Commande</label>
        <table class="table">
                <thead>
                    <tr>
                        <th>Ouvrage</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                    </tr>
                </thead>
                <tbody>
                {% for ouvrage in ouvrages %}
                <tr>
                    <td>{{ ouvrage.title }}</td>
                    <td>{{ ouvrage.price }} €</td>
                    <td>
                        <form class="form-check-inline"><a  href="{% url 'store:add_to_basket' %}">
                            <button class="btn btn-outline-dark mt-auto" type="submit">
                                <input type="hidden" name="ouvrage_to_mod" value="{{ ouvrage.id }}" >
                                <input type="hidden" name="quantity" value="-" >
                                <i class="bi bi-cart-dash"></i>
                            </button>
                        </a></form>
                        <p class="form-check-inline" >{{ ouvrage.qty }}</p>
                        <form class="form-check-inline"><a  href="{% url 'store:add_to_basket' %}">
                            <button class="btn btn-outline-dark mt-auto" type="submit">
                                <input type="hidden" name="ouvrage_to_mod" value="{{ ouvrage.id }}" >
                                <input type="hidden" name="quantity" value="+" >
                                <i class="bi bi-cart-plus"></i>
                            </button>
                        </a></form>
                        <form class="form-check-inline"><a  href="{% url 'store:add_to_basket' %}">
                            <button class="btn btn-outline-dark mt-auto" type="submit">
                                <input type="hidden" name="ouvrage_to_mod" value="{{ ouvrage.id }}" >
                                <input type="hidden" name="quantity" value="x" >
                                <i class="bi bi-cart-x"></i>
                            </button>
                        </a></form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning row" role="alert"><a href="{% url 'store:store' select_type='All' select_id='All' %}" class="btn btn-default btn-lg pull-right">Remplir mon panier !</a>
            <i class="bi bi-shop-window pull-left"></i> <h4>Votre panier est vide :'(</h4>
            <p>Commencez dès maintenant à rechercher votre article préféré dans notre vaste catalogue de produits !</p>
        </div>
    {% endif %}<br /><br />
    {% if user.is_authenticated %}
        <div class="card container">
            <form class="form-label row" action="{% url 'store:basket' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="basket" value="{{ basket }}" >
                <div class="col-10">
                    {% include 'store/contact_detail.html' %}
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-success" onclick="return confirm('Merci de confirmer');">Commander</button>
                </div>
            </form>
        </div>
    {% else %}
        {% if errors %}
        <div>
          {% for key in errors.keys %}
          {% autoescape off %}
            {{ errors }}
          {% endautoescape %}
          {% endfor %}
        </div>
        {% endif %}
        <form class="form-label" action="{% url 'store:login' %}" method="get">
            {% csrf_token %}
            <input type="hidden" name="basket" value="{{ basket }}" >
            <div class="row">
                <button type="submit" class="col-4 btn" >Si vous avez déjà un compte, identifiez vous</button>
            </div>
        </form>
        <label class="row">Contact</label>
        <div class="row">
            <div class="col-1">
                    <form action="{% url 'store:basket' %}" method="get">
                        <input type="hidden" name="basket" value="{{ basket }}" >
                        {% csrf_token %}
                        {% if checked == 'checked' %}
                            <input type="checkbox" class="input-sm" name="check" value="unchecked" onclick='this.form.submit();' checked="checked">
                        {% else %}
                            <input type="checkbox" class="input-sm" name="check" value="checked" onclick='this.form.submit();'>
                        {% endif %}
                    </form>
            </div>
            <div class="col-11">
                <form class="row" action="{% url 'store:basket' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="basket" value="{{ basket }}" >
                    <input class="form-control" type="email" name="email" placeholder="Email" required><br />
                    {{ CFormSet.management_form }}
                        {% for CForm in CFormSet %}
                        <div class="col-5">
                            {% bootstrap_form CForm %}
                        </div>
                        {% endfor %}
                    <div class="col-2">
                        <button type="submit" class="btn btn-success" onclick="return confirm('Merci de confirmer');">Commander</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}