{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div class="card h-100">
    <div class="text-center">Panier</div>
        <label for="{{ form.ouvrage.id_for_label }}">Commande</label>
        {% if basket %}
        <table class="table">
                <thead>
                    <tr>
                        <th>Ouvrage</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                    </tr>
                </thead>
                <tbody>
                {% for ouvrage in ouvrages %}
                <tr>
                    <td>{{ ouvrage.title }}</td>
                    <td>{{ ouvrage.price }} €</td>
                    <td>
                        <form class="form-check-inline"><a  href="{% url 'store:add_to_basket' %}">
                            <button class="btn btn-outline-dark mt-auto" type="submit">
                                <input type="hidden" name="ouvrage_to_mod" value="{{ ouvrage.id }}" >
                                <input type="hidden" name="quantity" value="-" >
                                <i class="bi bi-cart-dash"></i>
                            </button>
                        </a></form>
                        <p class="form-check-inline" >{{ ouvrage.qty }}</p>
                        <form class="form-check-inline"><a  href="{% url 'store:add_to_basket' %}">
                            <button class="btn btn-outline-dark mt-auto" type="submit">
                                <input type="hidden" name="ouvrage_to_mod" value="{{ ouvrage.id }}" >
                                <input type="hidden" name="quantity" value="+" >
                                <i class="bi bi-cart-plus"></i>
                            </button>
                        </a></form>
                        <form class="form-check-inline"><a  href="{% url 'store:add_to_basket' %}">
                            <button class="btn btn-outline-dark mt-auto" type="submit">
                                <input type="hidden" name="ouvrage_to_mod" value="{{ ouvrage.id }}" >
                                <input type="hidden" name="quantity" value="x" >
                                <i class="bi bi-cart-x"></i>
                            </button>
                        </a></form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
        </table>
        {% else %}
            <div class="alert alert-warning" role="alert"><a href="{% url 'store:store' select_type='All' select_id='All' %}" class="btn btn-default btn-lg pull-right">Remplir mon panier !</a>
                <i class="bi bi-shop-window pull-left"></i> <h4>Votre panier est vide :'(</h4>
                <p>Commencez dès maintenant à rechercher votre article préféré dans notre vaste catalogue de produits !</p>
            </div>
        {% endif %}<br /><br />
    {% if user.is_authenticated %}
        <form class="form-label" action="{% url 'store:basket' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="basket" value="{{ basket }}" >
            {% include 'store/contact_detail.html' %}
            <button type="submit" class="btn btn-success" onclick="return confirm('Merci de confirmer');">Commander</button>
    {% else %}
        <form class="container px-4 px-lg-3" action="{% url 'store:login' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="basket" value="{{ basket }}" >
            <div class="d-flex {% if Uform.errors %}has-warning has-feedback{% endif %}">
                <label class="d-flex" for="{{ Uform.id_for_label }}">Si vous avez déjà un compte, identifiez vous : {{ UForm.as_p }}</label>
                <button type="submit" class="btn" >S'identifier</button>
            </div>
        </form>
        <form class="form-label" action="{% url 'store:basket' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="basket" value="{{ basket }}" >
            <div class="form-control {% if CForm.contact.errors %}has-warning has-feedback{% endif %}">
                <label for="{{ CForm.contact.id_for_label }}">Contact</label>
                {{ CForm.as_p }}
                <label for="{{ CForm.contact.id_for_label }}">Cochez la case pour enregistrer votre compte</label>
                <input type="checkbox" name="save_contact"><br />
                <button type="submit" class="btn btn-success" onclick="return confirm('Merci de confirmer');">Commander</button>
            </div>
        </form>
    {% endif%}
</div>
{% endblock %}