
{% load bootstrap4 %}
{% load static %}


{% block content %}
{% if user.is_staff or user.id == booking.contact.user.id %}
    <hr class="detail-separator">
    <h2 class="intro-text text-center">Commande N° {{ booking.id }}</h2>
    <hr class="detail-separator">    
    
    <div class="container card">
        <div class="row">
            <div class="col form-group">
                    <p>{{ booking.created_at }}</p>
                    <p>{{ booking.contact.user.username }}</p>
                    {% for booking_detail in booking.booking_details.all %}
                        <p>{{ booking_detail.ouvrage.title }}</p>
                    {% endfor %}
                    <p>{{ booking.total }}</p>
            </div>
        </div>
    </div>


{% endif %}
{% endblock %}
