{% extends 'store/base.html' %}
{% load static %}

{% block content %}
    {% if user.is_staff %}
    <div class="container px-4 px-lg-4">
        <form class="d-flex" action="{% url 'store:booking' %}" method="POST">
            {% csrf_token %}
            {{ BForm.as_p }}
            <input class="btn" type="submit" value="Filtrer" />
        </form>
    </div>
    <table class="table"><tbody>
        <th>Numéro</th>
        <th>Date</th>
        <th>Contact</th>
        <th>Ouvrage</th>
        <th>Quantité</th>
        <th>Prix</th>
        <th>Nb Ouvrages</th>
        <th>Total</th>
        <th>Contacté</th>
        {% for booking in bookings_list_sel %}
        <tr>
            <td><a href="{% url 'store:booking_detail' booking_id=booking.id %}">{{ booking.id }}</a></td>
            <td>{{ booking.created_at|date:'Y-m-d' }}</td>
            <td>
                <a href="{% url 'store:contact_detail' contact_id=booking.contact.id %}">{{ booking.contact }}</a><br />
                {{ booking.contact.user.email }}<br />
                {{ booking.contact.default_shipping_address.city }}
            </td>
            <td>
                {% for booking_detail in booking_detail_list %}
                    {% if booking_detail.booking.id == booking.id %}
                        <form action="{% url 'store:booking' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="booking_detail_id" value="{{ booking_detail.id }}" >
                            <a href="{% url 'store:detail' ouvrage_id=booking_detail.ouvrage.id %}">{{ booking_detail.ouvrage.title }}</a>
                            <button type="submit" name="action" value="X" class="bi bi-x-square btn btn-primary-outline" onclick="return confirm('Etes-vous sûr ?');"></button>
                        </form>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for booking_detail in booking_detail_list %}
                    {% if booking_detail.booking.id == booking.id %}
                        {{ booking_detail.qty }}<br /><br />
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for booking_detail in booking_detail_list %}
                    {% if booking_detail.booking.id == booking.id %}
                        {{ booking_detail.ouvrage.price }} €<br /><br />
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {{ booking.ouvrages_qty }}
            </td>
            <td>
                {{ booking.total }} €
            </td>
            <td>
                <form class="navbar navbar-expand-lg" action="{% url 'store:booking' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="booking_id" value="{{ booking.id }}" >
                    {% if 'W' in booking.status or 'K' in booking.status or 'P' in booking.status or 'S' in booking.status %}
                        <button type="submit" name="action" value="W" class="btn btn-success">En Attente</button>
                    {% else %}
                        <button type="submit" name="action" value="W" class="btn btn-warning">En Attente</button>
                    {% endif %}
                    {% if 'K' in booking.status or 'P' in booking.status or 'S' in booking.status %}
                        <button type="submit" name="action" value="K" class="btn btn-success">Contacté</button>
                    {% else %}
                        <button type="submit" name="action" value="K" class="btn btn-warning">Contacté</button>
                    {% endif %}
                    {% if 'P' in booking.status or 'S' in booking.status %}
                        <button type="submit" name="action" value="P" class="btn btn-success">Payée</button>
                    {% else %}
                        <button type="submit" name="action" value="P" class="btn btn-warning">Payée</button>
                    {% endif %}
                    {% if 'S' in booking.status %}
                        <button type="submit" name="action" value="S" class="btn btn-success">Expédiée</button>
                    {% else %}
                        <button type="submit" name="action" value="S" class="btn btn-warning">Expédiée</button>
                    {% endif %}
                    {% if 'C' in booking.status %}
                        <button type="submit" name="action" value="C" class="btn btn-danger">Annulée</button>
                    {% else %}
                        <button type="submit" name="action" value="C" class="btn btn-warning">Annulée</button>
                    {% endif %}
                    {% if 'D' in booking.status %}
                        <button type="submit" name="action" value="D" class="btn btn-danger">Supprimé</button>
                    {% else %}
                        <button type="submit" name="action" value="D" class="btn btn-danger" onclick="return confirm('Etes-vous sûr ?');">Supprimé</button>
                    {% endif %}
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody></table>
    {% endif %}
{% endblock %}