{% extends 'store/base.html' %}
{% load static %}

{% block content %}
    {% if user.is_staff %}
    <div class="container px-4 px-lg-5">
        <form class="d-flex" action="{% url 'store:history' %}" method="POST">
        {% csrf_token %}
            {{ form.start_date }}{{ form.media }}
            {{ form.end_date }}{{ form.media }}
            <input class="btn" type="submit" value="Sélectionner" />
        </form>
    </div>
    <table class="table"><tbody>
            <th>Date</th>
            <th>Contact</th>
            <th>Ouvrage</th>
            <th>Quantité</th>
            <th>Contacté</th>
        {% for booking in bookings_list %}
        <tr>
            <td>{{ booking.created_at|date:'Y-m-d' }}</td>
            <td>{{ booking.contact.name }}<br />{{ booking.contact.email }}<br />{{ booking.contact.adresse }}</td>
            <td>
                {% for ouvrage, qty in booking.ouvrages.items %}
                <a  href="{% url 'store:detail' ouvrage_id=ouvrage %}">{{ ouvrage }}</a><br />
                {% endfor %}
            </td>
            <td>
                {% for ouvrage, qty in booking.ouvrages.items %}
                    {{ qty }}<br />
                {% endfor %}
            </td>
            <td>
                <form class="navbar navbar-expand-lg" action="{% url 'store:booking' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="booking_id" value="{{ booking.id }}" >
                    {% if booking.contacted %}
                        <i class="{% if Bform.contacted.errors %}has-warning has-feedback{% endif %} bi bi-check2-square"></i>
                        {{ Bform.contacted }}
                    {% else %}
                        <i class="{% if Bform.contacted.errors %}has-warning has-feedback{% endif %} bi bi-square"></i>
                        {{ Bform }}
                        {{ Bform.contacted }}
                        <button type="submit" class="btn btn-outline-dark">Contacté</button>
                        <button type="submit" class="btn btn-outline-dark">Valider l'envoi</button>
                        <button type="submit" class="btn btn-outline-dark">Annuler la Commande</button>
                    {% endif %}
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody></table>
    {% endif %}
{% endblock %}