
{% load bootstrap4 %}
{% load static %}

{% block content %}
{% if user.is_staff or user.id == contact.user.id %}
    <hr class="detail-separator">
    <h1 class="intro-text text-center">{{ contact.user.username }}</h1>
    <hr class="detail-separator">
    <div class="container card h-50">
        <div class="row">
            <div class="col form-group">
                {% bootstrap_form UForm %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col form-group">
                        <label class="form-control" for="{{ CForm_dsa.id_for_label }}">Adresse de facturation</label><br />
                        {% bootstrap_form CForm_dsa %}
                    </div>
                    <div class="col form-group">
                        <label class="form-control" for="{{ CForm_dsa.id_for_label }}">Adresse de livraison</label><br />
                        {% bootstrap_form CForm_dia %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% include "store/item_modal.html" %}
{% endblock %}