{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<hr class="detail-separator">
<h1 class="intro-text text-center">Gestion Base</h1>
<hr class="detail-separator">
<section class="bg-light py-5">
{% if user.is_staff %}
    <div class="card container">
        <br />
        <div class="form-group row">
            <h5 class="card-header text-center">Importer Base</h5>
        </div>
        <form id="import" class="row" action="{% url 'store:dataBase' %}" method=post enctype=multipart/form-data>
            {% csrf_token %}
            <div class="col-5">
                <input class="form-control" type="file" value='' name="imp_xls" required=True/>
            </div>
            <div class="col-2">
                {% include "store/item_spinner.html" with button="Importer" spinner="Chargement ..." %}
            </div>
            <div class="col-4">
                {% if mess == 'import' %}
                    {% for message in messages %}
                        {% include "store/item_alert.html" %}
                    {% endfor %}
                {% endif %}
            </div>
        </form>
        <div class="form-group row">
            <h5 class="card-header text-center">Exporter Base</h5>
        </div>
        <form id="export" class="row" action="" method=post enctype=multipart/form-data>
            {% csrf_token %}
            <div class="col-5">
                <input class="form-control" type="file" value='' name="exp_xls"  required=True/>
            </div>
            <div class="col-2">
                {% include "store/item_spinner.html" with button="Exporter" spinner="Chargement ..." %}
            </div>
            <div class="col-4">
                {% if mess == 'export' %}
                    {% for message in messages %}
                        {% include "store/item_alert.html" %}
                    {% endfor %}
                {% endif %}
            </div>
        </form>
    </div><br />
{% endif %}
</section>
{% endblock %}