
{% load static %}
{% load bootstrap4 %}

{% block content %}
<hr class="detail-separator">
<h1 class="intro-text text-center">{{ ouvrage.title }}</h1>
<hr class="detail-separator">

<div class="container row">
    <div class="card col-5">
        <img class="img-fluid" src="{% static 'store/couv/' %}{{ ouvrage.picture }}" alt="..." />
        <div class="card-body">
            <table class="table table-borderless"><tbody>
                <tr><td class="fw-bolder col-md-1">Prix: </td><td class="text-body col-md-4">{{ ouvrage.price }} €</td></tr>
                <tr><td class="fw-bolder col-md-1">Référence: </td><td class="text-body col-md-4">{{ ouvrage.reference }}</td></tr>
                <tr><td class="fw-bolder col-md-1">Auteur(s): </td><td class="text-body col-md-4">{% for auteur in ouvrage.auteurs.all %}{{ auteur.name }} {% endfor %}</td></tr>
                <tr><td class="fw-bolder col-md-1">Editeur: </td><td class="text-body col-md-4">{% for editeur in ouvrage.editeurs.all %}{{ editeur.name }} {% endfor %}</td></tr>
                <tr><td class="fw-bolder col-md-1">Catégorie: </td><td class="text-body col-md-4">{% for categorie in ouvrage.categories.all %}{{ categorie.name }} {% endfor %}</td></tr>
                <tr><td class="fw-bolder col-md-1">Stock: </td><td class="text-body col-md-4">{{ ouvrage.stock }}</td></tr>
            </tbody></table>
        </div>
    </div>
    {% if user.is_staff %}
    <div class="card col-4">
        <div class="text-center">Magasin</div>
        <form class="form-group" action="{% url 'store:detail' ouvrage_id=ouvrage.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_form Vform %}{{ Vform.media }}
            <button type="submit" class="btn btn-dark btn-outline-secondary mt-auto text-white">Vendre</button>
        </form>
    </div>
    <div class="card col-3">
        <div class="text-center">Arrivage</div>
        <form class="form-group" action="{% url 'store:detail' ouvrage_id=ouvrage.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_form Aform %}{{ Aform.media }}
            <button type="submit" class="btn btn-dark btn-outline-secondary mt-auto text-white">Valider</button>
        </form>
    </div>
    {% else %}
    <div class="card col-5">
        <div class="fw-bolder">Note de la SELIO</div><br />
            {% if ouvrage.note != None %}
                <p class="truncate">{{ ouvrage.note }}</p>
            {% endif %}
    </div>
    <div class="card col-2">
        <div class="fw-bolder">Quantité</div><br />
        <form class="form-label" action="{% url 'store:add_to_basket' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="ouvrage_id" value="{{ ouvrage.id }}" >
            <input class="form-control" type="number" name="quantity" min="1" step="1" value="1" placeholder="Quantité"><br />
            <div>
                <button type="submit" class="btn btn-dark btn-outline-secondary mt-auto text-white">Ajouter au Panier</button>
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% if errors %}
  <div>
    {% for key, error in errors %}
    {% autoescape off %}
      {{ error }}
    {% endautoescape %}
    {% endfor %}
  </div>
{% endif %}


</div>


{% endblock %}