{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<hr class="detail-separator">
<h1 class="intro-text text-center">{{ ouvrage_title }}</h1>
<hr class="detail-separator">

<div class="row gx-4 gx-lg-5 row-cols-auto row-cols-md-auto row-cols-xl-4 justify-content-center">
    <div class="card h-100">
        <!-- Sale badge-->
        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
        <!-- Product image-->
        <img class="card-img-top" src="{% static 'store/couv/' %}{{ ouvrage_picture }}" alt="..." />
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ ouvrage_title }}</h5>
                <!-- Product reviews-->
                <div class="d-flex justify-content-center small text-warning mb-2">
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                </div>
                <!-- Product price-->
                <span class="text-muted">{{ ouvrage_price }} €</span>
            </div>
        </div>
        <!-- Product actions-->
    </div>
    <div class="card text-start">
        <label class="fw-bolder">Référence: {{ ouvrage_reference }}</label>
        <label class="fw-bolder">Auteur(s): {{ auteurs_name }}</label>
        <label class="fw-bolder">Editeur: {{ editeurs_name }}</label>
        <label class="fw-bolder">Catégorie: {{ categories_name }}</label>
        <label class="fw-bolder">Publication: {{ ouvrage_publication }}</label>
        <label class="fw-bolder">Stock: {{ ouvrage_stock }}</label><br />
    </div>
        {% if user.is_authenticated %}
        <div class="card">
            <div class="text-center">Magasin</div>
            <form  class="form-label" action="{% url 'store:detail' ouvrage_id=ouvrage_id %}" method="post">
                {% csrf_token %}
                <div class="form-control {% if Vform.catPrice.errors %}has-warning has-feedback{% endif %}">
                    <label for="{{ Vform.catPrice.id_for_label }}">Cat. Prix:</label>
                    {{ Vform.catPrice }}
                </div>
                <div class="form-control {% if Vform.payment.errors %}has-warning has-feedback{% endif %}">
                    <label for="{{ Vform.payment.id_for_label }}" >Paiement:</label>
                    {{ Vform.payment }}
                </div>
                <div class="form-control {% if Vform.quantity.errors %}has-warning has-feedback{% endif %}">
                    <label for="{{ Vform.quantity.id_for_label }}">Quantité:</label>
                    {{ Vform.quantity }}
                </div>
                <div class="form-control {% if Vform.comment.errors %}has-warning has-feedback{% endif %}">
                    <label for="{{ Vform.comment.id_for_label }}">Commentaire:</label>
                    {{ Vform.comment }}
                </div>
                    {{ Vform.date }}{{ Vform.media }}<br />
                <div>
                    <button type="submit" class="btn btn-success">Vendre</button>
                </div>
            </form>
        </div>
        {% endif %}
        {% if user.is_staff %}
        <div class="card text-start">
            <div class="text-center">Arrivage</div>
            <form class="form-label" action="{% url 'store:detail' ouvrage_id=ouvrage_id %}" method="post">
                {% csrf_token %}
                <div class="form-control {% if Aform.fournisseur.errors %}has-warning has-feedback{% endif %}">
                    <label for="{{ Aform.fournisseur.id_for_label }}">Fournisseur</label>
                    {{ Aform.fournisseur }}
                </div>
                <div class="form-control {% if Aform.quantity.errors %}has-warning has-feedback{% endif %}">
                    <label for="{{ Aform.quantity.id_for_label }}">Quantité</label>
                    {{ Aform.quantity }}
                </div>
                <div class="form-control {% if Aform.comment.errors %}has-warning has-feedback{% endif %}">
                    <label for="{{ Aform.comment.id_for_label }}">Commentaire:</label>
                    {{ Aform.comment }}
                </div>
                    {{ Aform.date }}{{ Aform.media }}<br />
                <div>
                    <button type="submit" class="btn btn-success">Valider</button>
                </div>
            </form>
        </div>
        {% else %}
        <div class="card h-100 text-start">
            <div class="form-label">Note de la SELIO</div>
                <label class="fw-bolder">{{ ouvrage_note }}</label><br />
        </div>
        <div class="card h-100 text-start">
            <div class="form-label">Commande</div>
            <form class="form-label" action="{% url 'store:add_to_basket' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="ouvrage_id" value="{{ ouvrage_id }}" >
                <div class="form-control {% if form.quantity.errors %}has-warning has-feedback{% endif %}">
                    <label for="{{ form.quantity.id_for_label }}" class="form-label">Quantité</label>
                </div><br /><br />
                <div>
                    <button type="submit" class="btn btn-success" >Ajouter au Panier</button>
                </div>
            </form>
        </div>
    {% endif %}
</div>
{% if errors %}
  <div>
    {% for key, error in errors %}
    {% autoescape off %}
      {{ error }}
    {% endautoescape %}
    {% endfor %}
  </div>
{% endif %}


</div>


{% endblock %}