{% load static %}
<br />
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <div class="d-flex col">
        <div class="dropdown-toggle active px-4 px-lg-5" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">Catégories</div>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for categorie in categories_list %}
            <li><a class="dropdown-item" href="{% url 'store:store' select_type='categories' select_id=categorie.id %}">{{ categorie.name }}</a></li>
            {% endfor %}
        </ul>
        <div class="dropdown-toggle active px-4 px-lg-5" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">Auteurs</div>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for author in authors_list %}
            <li><a class="dropdown-item" href="{% url 'store:store' select_type='auteurs' select_id=author.id %}">{{ author }}</a></li>
            {% endfor %}
        </ul>
        <div class="dropdown-toggle active px-4 px-lg-5" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">Editeurs</div>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for publisher in publishers_list %}
            <li><a class="dropdown-item" href="{% url 'store:store' select_type='editeurs' select_id=publisher.id %}">{{ publisher }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <form class="d-flex col" action="{% url 'store:store' select_type='All' select_id='All' %}" method="POST">
        {% csrf_token %}
        <input class="search col" type="search" name="search" placeholder="Recherche dans les titres">
        <button class="btn btn-outline-dark mt-auto" type="submit"> 
            <i class="bi bi-search me-1"></i>
        </button>
    </form>
</div>

{% if ouvrages|length_is:"0" %}
    <div class="text-center">
        Palsambleu ! Nous n'avons trouvé aucun résultat à cette requête. Même pas de quoi se ronger la chique !
        Partez de nouveau à l'abordage !
    </div>
{% else %}
    <section class="py-5">
    {% if paginate %}
        {% include 'store/paginate.html' %}
    {% endif %}
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for ouvrage in ouvrages %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            {% if ouvrage.picture != "" %}
                            <img class="card-img-top img-height-fix" src="{% static 'store/couv/' %}{{ ouvrage.picture }}" alt="..." />
                            {% else %}
                            <img class="card-img-top img-height-fix" src="{% static 'store/couv/' %}sans-couverture.png" alt="..." />
                            {% endif %}
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ ouvrage.title}}</h5>
                                    <!-- Product price-->
                                    <span class="text-muted">{{ ouvrage.price }} €</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'store:detail' ouvrage_id=ouvrage.id %}">Sélectionner</a></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    {% if paginate %}
        {% include 'store/paginate.html' %}
    {% endif %}
    </section>
{% endif %}