{% load static %}

<hr class="detail-separator">
<h1 class="intro-text text-center">Nos Ouvrages</h1>
<hr class="detail-separator">
{% if ouvrages|length_is:"0" %}
    <div class="text-center">
        Palsambleu ! Nous n'avons trouvé aucun résultat à cette requête. Même pas de quoi se ronger la chique !
        Partez de nouveau à l'abordage !
    </div>
{% else %}
    <section class="py-5">
    {% if paginate %}
        {% include 'store/paginate.html' %}
    {% endif %}
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for ouvrage in ouvrages %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="row">
                                <div class="col-4">
                                    {% if ouvrage.picture != "" %}
                                        <img class="card-img-top img-height-fix" src="{% static 'store/couv/' %}{{ ouvrage.picture }}" alt="..." />
                                    {% else %}
                                        <img class="card-img-top img-height-fix" src="{% static 'store/couv/' %}sans-couverture.png" alt="..." />
                                    {% endif %}
                                </div>
                                <div class="col-8">
                                    <div class="card-body h-75 p-4">
                                        <div class="text-center">
                                            <h5 class="fw-bolder">{{ ouvrage.title}}</h5>
                                            <span class="text-muted">{{ ouvrage.price }} €</span>
                                        </div>
                                    </div>
                                    <div class="card-footer h-25 p-4 pt-0 border-top-0 bg-transparent">
                                            <a class="open-item btn btn-outline-dark mt-auto" href="{% url 'store:detail' ouvrage_id=ouvrage.id %}"
                                            data-popup-url="{% url 'store:detail' ouvrage_id=ouvrage.id %}">
                                            Sélectionner
                                            </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    {% if paginate %}
        {% include 'store/paginate.html' %}
    {% endif %}
    </section>
{% endif %}
{% include "store/item_modal.html" %}