{% extends 'store/base.html' %}

{% block content %}
<div class="col mb-4">
    <div class="card text-center">
    {% if message %}
        {{ message }}
    {% endif %}
    {% if errors %}
    <div>
        {% for key, error in errors %}
        {% autoescape off %}
            {{ error }}
        {% endautoescape %}
        {% endfor %}
    </div>
    {% endif %}
    <form action="{% url 'store:login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log In</button>
    </form>
    </div>
</div>
{% endblock %}