{% extends 'store/base.html' %}
{% load static %}

{% block content %}
    {% if booking_detail %}
    <div class="container px-4 px-lg-5">
        <div class="card">
            <img  class="align-self-center" width="30%" height="auto" src="{% static 'store/img/selio.png' %}" alt="..." />
            <label>La SELIO vous remercie</label><br />
            <p>Nous avons pris en compte votre commande, nous vous recontacterons afin confirmez l'adresse d'envoi et vous donner les instructions de paiment.</p>
            <p>Récapitulatif de votre commande:</p>
            {% for booking in booking_detail.all %}
                <p>{{ booking.ouvrage.title }}</p>
            {% endfor %}
        </div>
    </div>
    {% else %}
       <p>Oups</p>
    {% endif %}
{% endblock %}